@model Social_website.Models.users
@{
    ViewBag.Title = "Index";
    var answers = Model.Answers.ToList();
}

<div class="text-center">
    <img src="~/attach/@Model.ProfilePicture" style="max-block-size: 5rem" />
    <h1>@Model.Username</h1>
    <small>@Model.Bio</small>
    <br />
    <small>@Model.followers followers</small>
    <br />
    @if (ViewBag.myUser.block_users.Contains(Model))
    {


        <h2>you blocks this user.</h2>
        <form method="post" action="/user/unblock/@Model.userName_id">
            <input type="submit" class="btn btn-outline-primary" value="un Block" />
        </form>
    }
    else
    {
        <form method="post" action="/user/block/@Model.userName_id">
            <input type="submit" class="btn btn-outline-danger" value="Block" />
        </form>
        <br />
        if (ViewBag.myUser.follow.Contains(Model))
        {
            <input class="btn btn-outline-primary" value="Follow" disabled />
            <br />
            <br />
            <form method="post" action="/user/removefollow/@Model.userName_id">
                <input class="btn btn-outline-danger" type="submit" value="remove" />
            </form>
        }
        else
        {
            <form method="post" action="/user/addfollow/@Model.userName_id">
                <input type="submit" class="btn btn-outline-primary" value="Follow" />

            </form>
        }
    }


</div>
<br />
<br />
<br />

<form method="post" action="/user/index/@ViewBag.id">
    <input hidden value="@Session["user_id"]" name="user_id" />
    <div class="row">
        <div class="col-5">
            <input type="text" name="content" class="form-input form-control" />
        </div>
        <!-- Rounded switch -->
        <div class="switch">
            <input type="checkbox" name="unkown">
            <label>ask as anonymous</label>
        </div>
        <div class="col-5">
            <input type="submit" class="btn btn-outline-primary" value="Ask">
        </div>
    </div>
</form>

<br />
<br />
<br />

@foreach (var item in answers)
{
    if (item.Content != null)
    {
        <div class="card">
            <div class="card-header">
                @item.Users.Username
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@item.Questions.Content <small style="font-size:0.5em"> @(item.Questions.unkown == null ? @item.Questions.User.Username : null )</small></p>
                    <footer class="blockquote-footer" style="font-size:0.5em"> <cite title="Source Title">@item.Questions.CreatedAt</cite></footer>
                    <p>@item.Content</p>
                </blockquote>
            </div>
        </div>
        <br />
        <br />
    }

    <div id="test">

    </div>
}

@*@section scripts {
        <script>
            $("#follow").click(() => {
                $.get({
                    url: "user/addFollow/@Model.userName_id",
                    success: $("#follow").prop('disabled', true)
                });

            });
        </script>
    }*@


